{% extends 'base-navbar.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/baseNavbarPages.css') }}">
{% endblock %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <div class="container ContentFullSize">
        <div class="row flashDiv">
            <div class="col-12 mx-auto">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} text-center">{{ message}}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <h1 class="mainTitle text-center mx-auto mb-5 text-white">Changement de mot de passe</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <form>
                    <input type="password" id="old_password" class="my-3 form-control font-italic" placeholder="Ancien mot de passe">
                    <input type="password" id="new_password" class="my-3 form-control font-italic" placeholder="Nouveau mot de passe">
                    <input type="password" id="new_password_2" class="my-3 form-control font-italic" placeholder="Nouveau mot de passe">
                        <button class="btn bg-white btn-block form-group col-12 col-md-6 m-auto mb-5" type="submit">Valider</button>
                </form>
            </div>
        </div>
    </div>
    <img class="DEMILOGO d-none d-lg-block" src="{{ asset("img/fond3.png") }}" alt="LUEUR">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/baseNavbarPages.js') }}"></script>
{% endblock %}
