{% extends 'base-navbar.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <div class="container-fluid" id="idLOGIN">
        <div class="container">
            <div class="row flashDiv">
                <div class="col-2 mx-auto">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} text-center">{{ message}}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="row my-5">
                <h1 class="text-center text-white m-auto" id="changepwH1">Changement de mot de passe</h1>
            </div>

            <div class="row">
                <div class="col-12 offset-md-2 col-md-8">
                    {{ form_start(changePasswordForm) }}
                    {{ form_row(changePasswordForm.oldPassword, {'label': false,'attr': {'class': 'form-control font-italic', 'placeholder': 'Ancien mot de passe : '}}) }}
                    {{ form_row(changePasswordForm.plainPassword) }}
                    <div class="form-group col-12 col-md-6 mx-auto my-auto">
                        <button class="btn bg-white btn-block">Valider</button>
                        {{ form_end(changePasswordForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img id="DEMILOGO" class="d-none d-lg-block" src="{{ asset("img/fond3.png") }}" alt="LUEUR">
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $(function() {
            // Effacer les messages flashs
            $('.alert').fadeOut(6000);
        })
    </script>

{% endblock %}