{% extends 'base-navbar.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/baseNavbarPages.css') }}">
{% endblock %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container ContentFullSize">
        <div class="row flashDiv">
            <div class="col-12 mx-auto">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} text-center">{{ message}}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <h1 class="mainTitle text-center mx-auto mb-5 text-white">Mot de passe oublié</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <form method="post">
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email :" required autofocus>
                    <br>
                    <button class="btn bg-white btn-block form-group col-12 col-md-6 m-auto mb-5" type="submit">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
    <img class="DEMILOGO d-none d-lg-block" src="{{ asset("img/fond3.png") }}" alt="LUEUR">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/baseNavbarPages.js') }}"></script>
{% endblock %}