{% extends 'base-navbar.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="container-fluid">
            <div class=" text-center mt-5">
            <img src="{{ asset('img/Logo2.png') }}" alt="Logo2LUSCIOL">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class=" form-group col-12 col-md-6 mt-5 mx-auto">
                    <h1 class="h1 font-weight-bold text-center" id="LOGINPolice">Please sign in : </h1><br>
                        {# Formulaire #}
                        <label for="inputEmail" class="sr-only">Email : </label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control font-italic" placeholder="Email : " required autofocus>

                        <label for="inputPassword" class="sr-only">Password : </label>
                            <input type="password" name="password" id="inputPassword" class="form-control font-italic" placeholder="Password : " required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.See https://symfony.com/doc/current/security/remember_me.html
                            <div class="checkbox mb-3">
                                <label>
                                    input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div> #}
                            <br>

                    <div class=" form-group col-12 col-md-6 mx-auto">
                        <button class="btn btn-info btn-block" type="submit">Sign in</button><br>
                            <div class="text-center font-italic">
                                <a href="{{ path('app_forgotten_password') }}">Mot de passe oublié ?</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <h1>Page d'enregistrement : </h1>
    {{ form_start(registrationForm,
        {"action": path('app_register')} ) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.tel) }}
    {{ form_row(registrationForm.avatar) }}
    {{ form_row(registrationForm.plainPassword) }}

    <button class="btn btn-info">S'enregistrer</button>
    {{ form_end(registrationForm) }}


{% endblock %}
