{% extends 'base-navbar.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/baseNavbarPages.css') }}">
{% endblock %}

{% block title %}Lusciol - Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <div class="container ContentFullSize">
        <div class="row flashDiv">
            <div class="col-12 mx-auto">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} text-center">{{ message}}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <h1 class="mainTitle text-center mx-auto mb-5 text-white">Reinitialisation du mot de passe</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 mx-auto" id="ajaxUserProfilResult">
                <form method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Réinitialiser le mot de passe</h1>
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                    <input type="password" name="repeatedPassword" id="inputRepeatedPassword" class="form-control" placeholder="Répétez le mot de passe" required>
                    <input type="hidden" name="token" value="{token}">
                    <br>
                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
    <img id="" class="DEMILOGO d-none d-lg-block" src="{{ asset("img/fond3.png") }}" alt="LUEUR">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/baseNavbarPages.js') }}"></script>
{% endblock %}
