{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}

    <h1>Page d'enregistrement</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.tel) }}
        {{ form_row(registrationForm.avatar) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn btn-info">S'enregistrer</button>
    {{ form_end(registrationForm) }}

    {{ dump(filename) }}

{% endblock %}
