{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">{{ message}}</div>
    {% endfor %}
{% endfor %}
{% for comment in comments %}
    <div class="mt-3">
        <div class="row flex-nowrap">
            <div class="col-4">
                <img src="{{ asset("uploads/user/avatar/"~comment.user.avatar) }}" alt="avatar de l'utilisateur" class=" rounded img-fluid">
            </div>
            <div class="col-8 pr-0">
                <span class="col-12">{{ comment.user.username }}</span>
                <div class="col-12"><span class="starsSingle">{{ comment.rate }}</span></div>
                <span class="col-12">Le {{ comment.dateenvoi|date('d/m/Y')}} à {{ comment.dateenvoi|date('H:i') }}</span>
            </div>
        </div>
        <div class="col-12"><p>{{ comment.content }}</p></div>
    </div>
{% endfor %}

<script>

    $(function () {
        $('span.starsSingle').stars();
    })

</script>