<div class="container">
<article>
    <h2 class="text-center">Nom du magasin : {{ address.name }}</h2>
    <hr>
    <p>
        <strong>Sous-Categorie :</strong> {{ address.subCategory.label }}<br>
        <strong>Categorie :</strong> {{ address.subCategory.category.label }}<br>
        <strong>Adresse :</strong> {{ address.location }}<br>
        <strong>Tel :</strong> {{ address.tel }}<br>
        <strong>Site internet :</strong> {{ address.website }}<br>
        <strong>Réduction :</strong> {{ address.discount }}<br>
    </p>
</article>
    <div class="col-6 m-auto">
<a href="#" id="result_content">
    <button class="btn btn-info">Retour à la liste des magasins</button>
</a>
    </div>
</div>

