<div class="container">
    {#On recrée un data-id identique a celui de la boutique sur la page d'affichage de toutes les boutiques#}
    {#qui servira a trouver la reference de la boutique et donc l'image qui doit lui etre associé sur la#}
    {#carte lorsque la vue reviens en ALL#}
    <div class="col-12 d-flex justify-content-between align-items-baseline pt-2">
        <div class="d-flex flex-column">
            <h2 class="text-center">{{ address.name }}</h2>
            <p class="wrap">{{ address.subCategory.label }}</p>
        </div>
        <a id="result_content"  data-id="{{ address.subCategory.category.label }}_{{ address.id }}">
            <button class="btn bg-white theme-color"><i class="fas fa-undo-alt"></i></button>
        </a>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <img src="https://placebeard.it/300x300" alt="" class="img-fluid rounded">
    </div>
    <div class="col-12 d-flex flex-column">
        <div class="d-flex flex-row justify-content-center">
                <span class="starsSingle">{{ address.average }}</span>
        </div>
        <div class="d-flex flex-row">
                <span class="col-1"><i class="fas fa-map-marker"></i></span>
                <span class="col-11">{{ address.location }}</span>
        </div>
        <div class="d-flex flex-row">
            <span class="col-1"><i class="fas fa-phone-square"></i></span>
            <span class="col-11">{{ address.tel }}</span>
        </div>
        <div class="d-flex flex-row">
            <span class="col-1"><i class="fas fa-globe-europe"></i></span>
            <span class="col-11"><a href="{{ address.website }}" target="_blank">{{ address.website }}</a></span>
        </div>
        <div class="d-flex flex-row">
            <span class="col-1"><i class="fas fa-euro-sign"></i></span>
            <span class="col-11">{{ address.discount }}</span>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="d-flex flex-row">
                <div id="result"></div>
                <form method="post">

                    <div class="form-group rating">

                        <label>
                            <input type="radio" name="stars" value="1" />
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="stars" value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>

                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="comment" placeholder="Écrire un commentaire...">
                    </div>

                    <input type="hidden" name="address_id" value="{{ address.id }}">
                    <button type="submit" class="btn btn-white theme-color" id="envoiComment">Envoyer</button>

                </form>
            </div>

        {% endif %}

        <div class="commentaires">

            <br>
            <span>Liste des commentaires</span>

            {% for comment in comments %}
                <p><span class="starsSingle">{{ comment.rate }}</span> {{ comment.content }}, envoyé le {{ comment.dateenvoi|date('d/m/Y')}} à {{ comment.dateenvoi|date('H:i') }} par {{ comment.user.username }}</p><br>
            {% endfor %}


        </div>
    </div>
</div>



<script>

    $(function() {
        $('span.starsSingle').stars();

        $("#resultAjax").on('click', '#envoiComment', function(e){

            e.preventDefault();

            let commentaire = $("#comment").val();

            let note = $("input[name=stars]:checked").val();

            if(commentaire.length != 0){

                $.ajax({

                    type: 'post',
                    url: '{{ path('addComment', {id : address.id}) }}',
                    datatype: 'html',
                    data: 'content='+commentaire+'&note='+note,
                    success: function(comments){
                        $("#resultAjax").html(comments);
                    },
                    error: function(error){
                        console.log(error);
                    }
                })

            }else{
                alert('Commentaire vide');
            }

        })

    });

    // ----- ÉTOILES COMMENTAIRES ----- //

    // $(':radio').change(function() {
    //     console.log(this.value);
    // });

</script>


