<div class="container">
    {#On recrée un data-id identique a celui de la boutique sur la page d'affichage de toutes les boutiques#}
    {#qui servira a trouver la reference de la boutique et donc l'image qui doit lui etre associé sur la#}
    {#carte lorsque la vue reviens en ALL#}
    <div class="col-12 d-flex justify-content-between align-items-baseline pt-2">
        <div class="d-flex flex-column">
            <h2 class="text-center">{{ address.name }}</h2>
            <p class="wrap">{{ address.subCategory.label }}</p>
        </div>
        <a id="result_content"  data-id="{{ address.subCategory.category.label }}_{{ address.id }}">
            <button class="btn bg-white theme-color"><i class="fas fa-undo-alt"></i></button>
        </a>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <img src="{{ asset("uploads/shop/image/"~address.image) }}" alt="" class="img-fluid rounded border-white border">
    </div>
    <div class="col-12 d-flex flex-column mt-3">
        <div class="d-flex flex-row justify-content-center">
                <span class="starsSingle">{{ address.average }}</span>
        </div>
        <div class="d-flex flex-row mt-1">
                <span class="col-1"><i class="fas fa-map-marker"></i></span>
                <span class="col-11">{{ address.location }}</span>
        </div>
        <div class="d-flex flex-row mt-1">
            <span class="col-1"><i class="fas fa-phone-square"></i></span>
            <span class="col-11">{{ address.tel }}</span>
        </div>
        <div class="d-flex flex-row mt-1">
            <span class="col-1"><i class="fas fa-globe-europe"></i></span>
            <span class="col-11"><a href="{{ address.website }}" target="_blank">{{ address.website }}</a></span>
        </div>
        <div class="d-flex flex-row mt-1">
            <span class="col-1"><i class="fas fa-euro-sign"></i></span>
            <span class="col-11">{{ address.discount }}</span>
        </div>

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="d-flex flex-row mt-3">
                <div class="row justify-content-center">
                    <span class="col-12 text-center">Identifiez-vous pour laisser un commentaire</span>
                    <form action="{{ path('app_login') }}" method="post" class="mt-3">
                        <div class=" form-group">
                            <label for="inputEmail" class="sr-only">Email : </label>
                            <input type="email"  name="email" id="inputEmail" class="form-control font-italic bg-white theme-color col-12 mt-1 shadow-none border-secondary" placeholder="Email : " required>
                            <label for="inputPassword" class="sr-only">Password : </label>
                            <input type="password" name="password" id="inputPassword" class="form-control font-italic bg-white theme-color col-12 mt-1 shadow-none border-secondary" placeholder="Password : " required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="btn bg-white theme-color col-12 mt-1" type="submit">S'identifier</button>
                        </div>
                    </form>


                </div>
            </div>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="d-flex flex-row mt-3">
                <div class="row align-content-center">
                    <span class="col-12 text-center">Partagez votre avis</span>
                    <form method="post" class="row">
                        <div class="col-12">
                            <div class="form-group rating ">

                                <label>
                                    <input type="radio" name="stars" value="1" />
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="2" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="3" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="4" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="5" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>

                            </div>
                        </div>

                        <div class="form-group col-12">
                            <textarea  id="comment"  rows="3" class="form-control" placeholder="Écrire un commentaire..."></textarea>
                        </div>
                        <input type="hidden" name="address_id" value="{{ address.id }}">
                        <div class="col-12">
                            <button type="submit" class="btn bg-white theme-color mt-1 " id="envoiComment">Envoyer</button>
                        </div>

                    </form>
                </div>
            </div>
        {% endif %}

        <div class="commentaires mt-5" id="commentaires">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message}}</div>
                {% endfor %}
            {% endfor %}
            {% for comment in comments %}
                <div class="mt-3">
                    <div class="row flex-nowrap">
                        <div class="col-4">
                            <img src="{{ asset("uploads/user/avatar/"~comment.user.avatar) }}" alt="" class=" rounded img-fluid border-white border">
                        </div>
                        <div class="col-8 pr-0">
                            <span class="col-12">{{ comment.user.username }}</span>
                            <div class="col-12"><span class="starsSingle">{{ comment.rate }}</span></div>
                            <span class="col-12">Le {{ comment.dateenvoi|date('d/m/Y')}} à {{ comment.dateenvoi|date('H:i') }}</span>
                        </div>
                    </div>
                    <div class="col-12"><p>{{ comment.content }}</p></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



<script>

    $(function() {
        $('span.starsSingle').stars();

        $("#resultAjax").on('click', '#envoiComment', function(e){

            e.preventDefault();

            let commentaire = $("#comment").val();

            let note = $("input[name=stars]:checked").val();

            if(commentaire.length != 0){

                $.ajax({

                    type: 'post',
                    url: '{{ path('addComment', {id : address.id}) }}',
                    datatype: 'html',
                    data: 'content='+commentaire+'&note='+note,
                    success: function(comments){
                        $("#commentaires").html(comments);
                    },
                    error: function(error){
                        console.log(error);
                    }
                })

            }else{
                alert('Commentaire vide');
            }

        })

    });

    // ----- ÉTOILES COMMENTAIRES ----- //

    // $(':radio').change(function() {
    //     console.log(this.value);
    // });

</script>


