{% extends 'base-navbar.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block title %}Manage Address{% endblock %}

{% block body %}

    <div class="container-fluid" id="idLOGIN">
        <container>
            <div class="row flashDiv">
                <div class="col-2 mx-auto">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} text-center">{{ message}}</div>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
            <div class="row" id="contentManageAddress">
                <div class="col-6">
                    <h2 class="text-secondary mt-1 text-center"><span class="badge badge-light p-3">Valider l'enregistrement d'un magasin</span></h2>
                    <div class="form-group col-6 col-md-8 mt-5 mx-auto">
                        <select id="selectPendingAddress" class="form-control" name="selectPendingAddress">
                            <option value="99999">Magasins en attente de validation...</option>
                            {% for address in pendingAddress %}
                                <option value="{{ address.id }}">{{ address.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <h2 class="text-secondary mt-1 text-center"><span class="badge badge-light p-3">Modifier un magasin</span></h2>
                    <div class="form-group col-6 col-md-6 mt-5 mx-auto">
                        <select id="selectAddress" class="form-control" name="selectAddress">
                            <option value="99999">Magasins...</option>
                            {% for address in allAddress %}
                                <option value="{{ address.id }}">{{ address.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
            </div>
            <div id="pendingResult" class="col-6 col-md-3 mt-5 mx-auto">
            </div>
        </container>
    </div>
    <div id="results"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/baseNavbarPages.js') }}"></script>
    <script>
        $(function(){
            // Requete AJAX pour l'affichage d'une adresse a valider
            $('#selectPendingAddress').on('change', function(){

                pendingAddressId = $('#selectPendingAddress option:selected').val();

                $.ajax({
                    type: 'post',
                    url: '{{ path("pendingResult") }}',
                    data: 'address_id=' + pendingAddressId,
                    datatype: 'html',
                    success: function(result){
                        $("#pendingResult").html(result);
                    },
                    error: function(error){
                        console.log(error)
                    },
                });
            })
            // Affichage du formulaire pour modification
            $('#pendingResult').on('click', '#modify', function(){
                $('#addressForm').css('display', 'block');
                $('#addressDescription').css('display', 'none');
            })

            // Menu de droite modifier un magasin

            $('#selectAddress').on('change', function(){

                AddressId = $('#selectAddress option:selected').val();
                console.log(AddressId);

                $.ajax({
                    type: 'post',
                    url: '{{ path("addressResult") }}',
                    data: 'address_id=' + AddressId,
                    datatype: 'html',
                    success: function(result){
                        $("#pendingResult").html(result);
                    },
                    error: function(error){
                        console.log(error)
                    },
                });
            })
        })




    </script>
{% endblock %}