{% extends 'base-navbar.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/baseNavbarPages.css') }}">
{% endblock %}

{% block title %}Manage Users{% endblock %}

{% block body %}

    <div class="container ContentFullSize" id="idLOGIN">
        <div class="row flashDiv">
            <div class="col-12 mx-auto">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} text-center">{{ message}}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="mt-5 text-center text-white mainTitle">Gestion des utilisateurs</h2>
                <div class="form-group col-6 col-md-3 mt-5 mx-auto">
                    <select id="selectUser" class="form-control" name="selectUser">
                        <option value="99999">Utilisateurs...</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div id="results" class="col-6 col-md-3 mt-5 mx-auto">
        </div>
    </div>
    <img class="DEMILOGO d-none d-lg-block" src="{{ asset("img/fond3.png") }}" alt="LUEUR">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/baseNavbarPages.js') }}"></script>
    <script>

        $(function() {

            // Requete AJAX pour l'affichage d'une adresse a valider
            $('#selectUser').on('change', function () {

                userId = $('#selectUser option:selected').val();

                $.ajax({
                    type: 'post',
                    url: '{{ path("userResult") }}',
                    data: 'user_id=' + userId,
                    datatype: 'html',
                    success: function (result) {
                        $("#results").html(result);
                    },
                    error: function (error) {
                        console.log(error)
                    },
                });
            })

            // Affichage du formulaire pour la modification d'utilisateur

            $('#results').on('click', '#modify', function(){
                $('#updateUserForm').css('display', 'block');
                $('#userDescription').css('display', 'none');
            })
        })
    </script>
{% endblock %}