{% extends 'base-navbar.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/concept.css') }}">
{% endblock %}
{% block body %}

	<!--CONTAIN-->

	<div class="container-fluid" id="ConceptContent">
		<div class="row">
			<h1 class="text-white text-center mx-auto">Concept</h1>
		</div>

		<div class="container">
			<div class="row">
				<div class="ConceptLUSCIOl col-12 col-md-12 mt-5 text-white text-center">
					<!--Description du concept LUSCIOL-->
					<p>
						LUSCIOL est le projet de fin d'études de quatres étudiants à l'école Webforce 3 (developpement/intégration WEB) au sein de la société Philomatique de Bordeaux.
						Il a été mis en place en deux semaines. Le nom du projet fait référence à la luciole, qui brille dans la nuit, et par analogie indique des lieux d'interêts.
					</p>
					<p>
						Il s'agit d'une appli WEB full responsive, qui permet aux étudiants de trouver tous les bons plans qui leur sont déstinés
						(réductions sur présentation de la carte étudiante) via un systeme de géolocalisation.
						Nous avons fait le choix de l'opensource, en utilisant l'API OpenStreetMap.
					</p>
					<p>
						Sur le plan technique, les technologies utilisées sont :<br>
						-HTML5/CSS3 (+Bootstrap)<br>
						-javascript ES6 (+jQuery +AJAX)<br>
						-PHP (+Symfony4)<br>
						-API OpenStreetMap (+MapBox +Leaflet)<br>
						-Librairie FontAwesome<br>
						-PhotoShop/Illustrator/InDesign<br>
						-Editeurs de texte : SublimText, PHPStorm, Visual Code Studio<br>
					</p>
					<p>
						Les ressources proposées par l'application sont pour l'instant purement fictives, mais nous souhaitons faire vivre le site et l'alimenter
						avec un contenu réel dans les prochaines semaines.
					</p>
					<p>
						Nous vous souhaitons une agréable éxperience sur Lusciol.fr,
					</p>
					<br><br>
					<p class="text-right">
						Jean, Jean, Mélanie et Vincent
					</p>
					</p>
				</div>
			</div>
		</div>
	</div>
	<img id="DEMILOGO" class="d-none d-lg-block" src="{{ asset("img/fond3.png") }}" alt="LUEUR">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Login.js') }}"></script>
{% endblock %}

