{% extends 'base-navbar.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/concept.css') }}">
{% endblock %}
{% block body %}

	<!--CONTAIN-->
	
	<div class="container-fluid" id="idLOGIN">
		<div class="row">
			<div id="LOGO2LUSCIOL" class="mx-auto">
				<a href="{{ path('home') }}"><img src="{{ asset('img/Logo3.png') }}" alt="Logo2LUSCIOL"></a>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="ConceptLUSCIOl col-12 col-md-12 mt-5">
					<!--Description du concept LUSCIOL-->
					<p class="text-center text-white" >Et quoniam inedia gravi adflictabantur, locum petivere Paleas nomine, vergentem in mare, valido muro firmatum, ubi conduntur nunc usque commeatus distribui militibus omne latus Isauriae defendentibus adsueti. circumstetere igitur hoc munimentum per triduum et trinoctium et cum neque adclivitas ipsa sine discrimine adiri letali, nec cuniculis quicquam geri posset, nec procederet ullum obsidionale commentum, maesti excedunt postrema vi subigente maiora viribus adgressuri.Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se polluisse confessi, eodem pronuntiante Maximino sunt interfecti. pari sorte etiam procurator monetae extinctus est. Sericum enim et Asbolium supra dictos.</p>
				</div>
			</div>
			<div class="row">
				<div id="DEMILOGO">
					<img class="d-none d-lg-block" src="{{ asset("img/fond3.png") }}" alt="LUEUR">
				</div>
			</div>
		</div>
	</div>
	


	{# 	<div class="row">
			<div class=" form-group col-12 col-md-4 mx-auto">
			<!-- Logo lusciol clignotant-->
				<div class="col-12" id="DEMILOGO">
	                <img class="d-none d-lg-block" src="{{ asset("img/fond3.png") }}" alt="LUEUR">
	            </div>
	          </div>
	    </div> #}

			<!--Les meilleurs plans de la semaine/mois (à déterminer)-->
​
			<div class="BESTPlans my-3 mx-auto">
			
			</div>
		</div>

		<div class="row">
	{# 		<div class="d-flex justify-content-between align-content-between flex-wrap">
        <div class="col-6 col-xl-3 py-3"><img src="{{ asset("img/Vignettes/MamaShelter.jpg") }}" alt="MamaShelter"></div>
        <div class="col-6 col-xl-3 py-3"><img src="{{ asset("img/Vignettes/Girondins.jpg") }}" alt="Girondins"></div>
        <div class="col-6 col-xl-3 py-3"><img src="{{ asset("img/Vignettes/CA.jpg") }}" alt="CA"></div>
        <div class="col-6 col-xl-3 py-3"><img src="{{ asset("img/Vignettes/OnglesDiva.jpg") }}" alt="CA"></div>
        <div class="col-6 col-xl-3 py-3"><img src="{{ asset("img/Vignettes/Kokomo.jpg") }}" alt="Kokomo"></div>
        <div class="col-6 col-xl-3 py-3"><img src="{{ asset("img/Vignettes/Coiffeur.jpg") }}" alt="JOHN'S"></div>
        <div class="col-6 col-xl-3 py-3"><img src="{{ asset("img/Vignettes/Darnauzan.jpg") }}" alt="Darnauzan"></div>
        <div class="col-6 col-xl-3 py-3"><img src="{{ asset("img/Vignettes/UGC.jpg") }}" alt="UGC"></div>
			</div>
		</div> #}
		<div class="row">
			<!--FOOTER-->
​

        <div class="FOOTERHome">
        </div>
      </div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Login.js') }}"></script>
{% endblock %}

