{% extends 'base-navbar.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/homev2.css') }}">
{% endblock %}

{% block title %}LUSCIOL{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row h-100 d-flex justify-content-between align-items-center">
			<div class="col-12 col-md-6 d-lg-flex justify-content-center align-items-center d-none">
				<img id="mainbgimg" src="{{ asset("img/gifLogo.gif") }}" alt="Logo-gif">
				{#<img id="mainbgimg2" src="{{ asset("img/gifLogo.gif") }}" alt="Logo-gif">#}
			</div>
			<div class="col-12 col-md-6">
				<div class="SloganLUSCIOL col-md-8 mx-auto text-center" id="SloganLUSCIOL">
				</div>
				<div class="col-12">
					<div id="BUTTONMap" class="col-12 col-md-8 mx-auto text-center">
						<a class="col-12" href="{{ path('viewAll') }}">
							<button class="btn col-9 py-3 mt-5">
								TROUVE TON BON PLAN
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Home.js') }}"></script>
	<script type="text/javascript">
		let setBG = function(){
			let $Wwidth = $(window).width();
			console.log($Wwidth);
			if ($Wwidth < 1300 ){
				$('#mainbgimg').attr('src', '{{ asset("img/fond2.png") }}')
			}
		}
		setBG();
	</script>
{% endblock %}