{% extends 'base-navbar.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/homev2.css') }}">
{% endblock %}

{% block title %}Lusciol - Service de référencement des bons plans étudiants à Bordeaux{% endblock %}

{% block body %}
	<div class="container-fluid" id="contentHomePage">
		<div class="row d-flex justify-content-lg-between align-items-center justify-content-center">
			<div class="col-12 col-md-6 d-lg-flex justify-content-center align-items-center d-none" id="divLogo">
				<img id="mainbgimg" src="{{ asset("img/gifLogo.gif") }}" alt="Logo-gif">
				{#<img id="mainbgimg2" src="{{ asset("img/shineLogo.png") }}" alt="Logo-shine">#}
			</div>
			<div class="col-12 col-md-6 mx-auto mb-3">
				<div class="SloganLUSCIOL col-12 col-md-10 col-lg-8 mx-auto text-center" id="SloganLUSCIOL">
				</div>
				<div id="BUTTONMap" class="col-12 col-md-12 col-lg-10 col-xl-8 mx-auto text-center">
					<a href="{{ path('viewAll') }}">
						<button class="btn col-12 col-md-12 col-lg-12 py-3 mt-5">
							TROUVE TON BON PLAN
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<img class="d-lg-none d-block position-fixed" id="DEMILOGO" class="d-none d-lg-block" src="{{ asset("img/fond3.png") }}" alt="LUEUR">
		</div>
	</div>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Home.js') }}"></script>
{% endblock %}