{% extends 'home.html.twig' %}

{% block title %}LUSCIOL{% endblock %}

{% block body %}

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">{{ message}}</div>
		{% endfor %}
	{% endfor %}

	<!--HEADER-->

	<div class="container-fluid m-0 p-0">

		<div class="d-none d-md-block" id="gifMAP">
			<img src="{{ asset("img/gifmap.gif") }}" alt="GifMap">
		</div>

		<div class="" id="mainbg">
			<img id="mainbgimg" src="{{ asset("img/fond1.png") }}" alt="Fond_degrade">	
		</div>
	</div>

<!-- <div class="BUTTONMap" id="BUTTONMap">
					<a class="ButtonMap" href="{{ path('viewAll') }}">TROUVE TON BON PLAN</a>
				</div> -->

	<!-- <div class="container2">
				<div class="SloganLUSCIOL" id="SloganLUSCIOL">
				</div>
			</div>	 -->
	
<!-- <div class="Arrow">
				<a class="angleDown" href="#ScrollDown"><i class="fas fa-angle-down fa-3x" id="buttonscrolldown" ></i></a>
			</div> -->
	<!--CONTAIN-->
	<!-- {#<img id="etoile" src="{{ asset("img/markerPosition.png") }}" alt="test">#}
			<img id="contour_lumineux" src="{{ asset("img/contour_lumineux.png") }}" alt="contour lumineux"> -->
{% endblock %}
