{% extends 'base.html.twig' %}

{% block title %}Lusciol - Ajout d'adresse{% endblock %}

{% block body %}
	{#{{ form_start(form) }}#}
	{#{{ form_widget(form) }}#}
	{#{{ form_end(form) }}#}

	{{ form_start(form) }}
		{{ form_row(form.subCategory) }}
		{{ form_row(form.name) }}
		{{ form_row(form.location) }}
	<button id="btnCoord">chercher coordonnées</button>
		{{ form_row(form.coordinates) }}
	{{ form_row(form.website) }}
		{{ form_row(form.tel) }}
		{{ form_row(form.discount) }}
		{{ form_row(form.image) }}
		{{ form_row(form.save) }}
	{{ form_end(form) }}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
<script src="{{ asset('js/app.js') }}"></script>
{% endblock %}