{% extends 'base.html.twig' %}

{% block title %}Lusciol - Carte{% endblock %}

{% block body %}

    <div class="container-fluid addressPage roboto m-0">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col-12 col-lg-3 d-flex flex-column order-last order-lg-first theme-bg" id="addressList">
                <div id="resultAjax" class="theme-bg">
                    <div class="searchGroup pt-3">
                        <div class="row  ml-1 mr-1">
                            <a class="btn bg-white col-1 pr-1 pl-1" href="{{ path('home') }}" role="button"><i class="fas fa-home theme-color"></i></a>
                            <div class="search input-group col-11 ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text bg-white" id="input-addon"><i class="fas fa-search theme-color"></i></span>
                                </div>
                                <input type="text" class="form-control border-secondary shadow-none" id="searchBar" aria-describedby="input-addon">
                            </div>
                        </div>

                        <div class="searchCat col-12 pt-3 pr-0 pl-0 text-center justify-content-between d-flex flex-row flex-wrap">
                            <div class="d-flex flex-column col-6 pr-0 pl-0">
                                <span id="searchCat1"><img src="{{ asset("img/pictorond/restaurant.png") }}" alt="" class="img-fluid"></span>
                                <span>Restauration</span>
                            </div>
                            <div class="d-flex flex-column col-6 pr-0 pl-0">
                                <span id="searchCat2"><img src="{{ asset("img/pictorond/shop.png") }}" alt="" class="img-fluid"></span>
                                <span>Shopping</span>
                            </div>
                            <div class="d-flex flex-column col-6 pr-0 pl-0">
                                <span id="searchCat3"><img src="{{ asset("img/pictorond/soins.png") }}" alt="" class="img-fluid"></span>
                                <span>Soins</span>
                            </div>
                            <div class="d-flex flex-column col-6 pr-0 pl-0">
                                <span id="searchCat4"><img src="{{ asset("img/pictorond/sortie.png") }}" alt="" class="img-fluid"></span>
                                <span>Divertissement</span>
                            </div>
                        </div>
                    </div>
                    <div class="addressLoop pt-3" id="addressLoop">
                        {% for item in address %}
                            <a class="linkToSingle">
                                <article class="oneShop hoverItem roboto " data-id="{{ item.subCategory.category.label }}_{{ item.id }}" data-coordinates="{{ item.coordinates }}">
                                    <div class="row mt-1 mb-1">
                                        <div class="col-4">
                                            <img src="{{ asset("uploads/shop/image/"~item.image) }}" alt="" class="img-fluid rounded">
                                        </div>
                                        <div class="col-8 text-left pl-3">
                                            <h2 class="name">{{ item.name }}</h2>
                                            <p class="subCat">{{ item.subCategory.label }}</p>
                                            <span class="stars">{{ item.average }}</span>
                                            <p class="cat d-none">{{ item.subCategory.category.label }}</p>
                                            <p>{{ item.discount }}</p>
                                            {#<p>{{ item.average }}</p>#}
                                        </div>
                                    </div>
                                </article>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                </div>

            <div class="col-12 col-lg-9 p-0 order-first">
                <div id="map"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#JS custom pour le scroll#}
    {#<script src="{{ asset('js/jquery.mCustomScrollbar.js') }}"></script>#}
    {#<script>#}
        {#(function($){#}
            {#$(window).on("load",function(){#}
                {#$("#addressList").mCustomScrollbar({theme:"minimal-dark"});#}
            {#});#}
        {#})(jQuery);#}
    {#</script>#}
    <script>
        //JS pour Average
        $.fn.stars = function() {
            return $(this).each(function() {
                // Get the value
                var val = parseFloat($(this).html());

                // Make sure that the value is in 0 - 5 range, multiply to get width
                var size = Math.max(0, (Math.min(5, val))) * 16;
                // Create stars holder
                var $span = $('<span />').width(size);
                // Replace the numerical value with stars
                $(this).html($span);
            });
        }
        $(function() {
            $('span.stars').stars();

        });
    </script>
    <script>

        $(function(){
            //Initialisation de la carte
            //Ne pas toucher sous peine de torture


            let bordeaux = [44.8397534, -0.5739364];
            let osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            let osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
            let osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});


            //restriction géographique
            var corner1 = L.latLng(44.7426, -0.7526);
            var corner2 = L.latLng(44.9801, -0.2935);
            var bounds = L.latLngBounds(corner1, corner2);

            let map = L.map('map').setView(bordeaux, 14);
            map.setMaxBounds(bounds);
            map.options.maxZoom = 18;
            map.options.minZoom = 13;






            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiaWJ1c2hpZ2luIiwiYSI6ImNqcXJ1d3lwdjBnZXo0MmxqZWRyMGIzdmEifQ.MAtmFHO16MD5osbZotlXYw',
            }).addTo(map);




            //Heritage de la classe L.icon pour passer des attributs customs :
            // Non recupérable dans la balise img
             var CustomL = L.Icon.extend({
                 options: {
                     iconSize: [55, 60],
                     //shadowUrl: '{{ asset("img/marker-shadow.png") }}',
                     //shadowAnchor: [10, 20],
                     iconAnchor:   [20, 35],
                 }
            });

            //Création des icones
            var markerPosition = L.icon({
                iconUrl: '{{ asset("img/markerPosition.png") }}',
                iconSize:     [20, 20], // size of the icon
            });
            var markerBlue = new CustomL({
                iconUrl: '{{ asset("img/marker-blue.png") }}',
                item_cat: 'Shopping',
            });

            var markerPink = new CustomL({
                iconUrl: '{{ asset("img/marker-pink.png") }}',
                item_cat: 'Soins',
            });
            var markerGreen = new CustomL({
                iconUrl: '{{ asset("img/marker-green.png") }}',
                item_cat: 'Restauration',
            });

            var markerYellow = new CustomL({
                iconUrl: '{{ asset("img/marker-yellow.png") }}',
                item_cat: 'Divertissement',
            });
            var markerPoint = L.icon({
                iconUrl: '{{ asset("img/markerPoint.png") }}',
                iconSize:     [30, 49], // size of the icon
            });

            //Géolocalisation

            map.locate({setView: true, maxZoom: 16});
            function onLocationFound(e) {
                L.marker(e.latlng, {icon: markerPosition}).addTo(map);
            }
            map.on('locationfound', onLocationFound);
            function onLocationError(e) {
                // alert(e.message);
            }
            map.on('locationerror', onLocationError);


            //A partir d'ici, c'est custom selon la view
            //La menace de torture s'arrête ici



            {% for key, latitude in locations_lat %}
            let latitude{{ key }} = {{ latitude }};
            {% endfor %}

            {% for key, longitude in locations_long %}
            let longitude{{ key }} = {{ longitude }};
            {% endfor %}

            {% for key, address_id in address_ids %}
            let item{{ key }} = {{ address_id }};
            {% endfor %}

            {% for key, cat in address_cat %}
            let item_cat{{ key }} = '{{ cat }}';
            {% endfor %}

            {% set nbAddress = nbAddress-1 %}


            {% for i in 0..nbAddress %}

            var markerIcon;
            if(item_cat{{ i }} === 'Shopping'){
                markerIcon = markerBlue;
            }
            if(item_cat{{ i }} === 'Soins'){
                markerIcon = markerPink;
            }
            if(item_cat{{ i }} === 'Restauration'){
                markerIcon = markerGreen;
            }
            if(item_cat{{ i }} === 'Divertissement'){
                markerIcon = markerYellow;
            }

            var param = item_cat{{ i }} + '_' + item{{ i }};


            var marker{{ i }} = L.marker([latitude{{ i }}, longitude{{ i }}], {icon: markerIcon, alt: param}).addTo(map);
            {% endfor %}

            // Stockage des résultat de recherche dans une variable pour pouvoir revenir en ajax sur la page des
            // résultats

            //TODO QUAND UNE RECHERCHE OU APPLICATION DE FILTRE PAR L UTILISATEUR SERA EFFECTUE,
            // IL FAUDRA INCLURE LA MISE A JOUR DE LA VARIABLE result-content

            var result_content = $('#addressList').html();



            // Gestion du CSS dynamique pour le lien vers les pages boutique




            var currentIcon;
            var viewStatus ="all";

            //Barre de recherche

            $('#addressList').on('input', '#searchBar', search);



            function search(){
                var input = document.getElementById('searchBar');
                function no_accent(my_string)
                {
                    // tableau accents
                    var pattern_accent = new Array("À","Á","Â","Ã","Ä","Å","Æ","Ç","È","É","Ê","Ë",
                        "Ì","Í","Î","Ï","Ð","Ñ","Ò","Ó","Ô","Õ","Ö","Ø","Ù","Ú","Û","Ü","Ý",
                        "Þ","ß","à","á","â","ã","ä","å","æ","ç","è","é","ê","ë","ì","í","î",
                        "ï","ð","ñ","ò","ó","ô","õ","ö","ø","ù","ú","û","ü","ý","ý","þ","ÿ");

                    // tableau sans accents
                    var pattern_replace_accent = new Array("A","A","A","A","A","A","A","C","E","E","E","E",
                        "I","I","I","I","D","N","O","O","O","O","O","O","U","U","U","U","Y",
                        "b","s","a","a","a","a","a","a","a","c","e","e","e","e","i","i","i",
                        "i","d","n","o","o","o","o","o","o","u","u","u","u","y","y","b","y");

                    //pour chaque caractere si accentué le remplacer par un non accentué
                    for(var i=0;i<pattern_accent.length;i++)
                    {
                        // si on trouve un accent dans la chaine on le remplace par le caractere non accentué correspondant

                        if( my_string.indexOf(pattern_accent[i]) )
                        {
                            my_string = my_string.replace(pattern_accent[i],pattern_replace_accent[i]);
                        }
                    }
                    return my_string;
                }
                var filter1 = no_accent(input.value);
                var filter2 = filter1.toUpperCase();
                console.log(filter1);
                var div = document.getElementById('addressLoop');
                var a = div.getElementsByTagName('a');
                var i;
                var cat, subCat, name, article;
                var catValue, subCatValue, nameValue, articleValue;
                for (i = 0; i < a.length; i++) {

                    cat = a[i].getElementsByClassName('cat')[0];
                    subCat = a[i].getElementsByClassName('subCat')[0];
                    name = a[i].getElementsByClassName('name')[0];
                    article = a[i].getElementsByTagName('article')[0];
                    articleValue = article.getAttribute('data-id');
                    catValue = cat.textContent || cat.innerText;
                    subCatValue = subCat.textContent || subCat.innerText;
                    nameValue = name.textContent || name.innerText;
                    if(
                        no_accent(catValue).toUpperCase().indexOf(filter2) > -1 ||
                        no_accent(subCatValue).toUpperCase().indexOf(filter2) > -1 ||
                        no_accent(nameValue).toUpperCase().indexOf(filter2) > -1
                    ){
                        a[i].style.display = "";
                        $('.leaflet-marker-pane img[alt = "'+articleValue+'"]').css('display','');


                    }else{
                        a[i].style.display = 'none';

                        $('.leaflet-marker-pane img[alt = "'+articleValue+'"]').css('display','none');
                    }
                }
            };
            //filtres

            $('#addressList').on('click', '#searchCat1', function(){
                $('#searchBar').val('Restauration');
                search();
            });
            $('#addressList').on('click', '#searchCat2', function(){
                $('#searchBar').val('Shopping');
                search();
            });
            $('#addressList').on('click', '#searchCat3', function(){
                $('#searchBar').val('Soins');
                search();
            });
            $('#addressList').on('click', '#searchCat4', function(){
                $('#searchBar').val('Divertissement');
                search();
            });




            $('#addressList').on('mouseenter', '.oneShop', function(){
                let address_id = $(this).attr('data-id');
                $("article[data-id='"+address_id+"']").css('background-image', 'linear-gradient(#083346, #0A5E67, #083346)');
                if(viewStatus === "all"){
                    currentIcon = $("img[alt='"+address_id+"']").attr('src');
                    $("img[alt='"+address_id+"']").attr('src', '{{ asset("img/markerPoint.png") }}');
                }
            });



            $('#addressList').on('mouseleave', '.oneShop', function(){
                let address_id = $(this).attr('data-id');
                $("article[data-id='"+address_id+"']").css('background-color', '#083346');
                $("article[data-id='"+address_id+"']").css('background-image', 'none');

                if(viewStatus === "all") {
                    $("img[alt='" + address_id + "']").attr('src', currentIcon);
                }
            });

            // Surbrillance des infos boutique au survol de l'icone sur la carte

            $('.leaflet-marker-icon').on('mouseenter', function(){
                var address_id = $(this).attr('alt');
                $("article[data-id='"+address_id+"']").css('background-image', 'linear-gradient(#083346, #0A5E67, #083346)');
                if (viewStatus === "all"){
                    currentIcon = $("img[alt='"+address_id+"']").attr('src');
                    $("img[alt='"+address_id+"']").attr('src', '{{ asset("img/markerPoint.png") }}');
                }

            })

            $('.leaflet-marker-icon').on('mouseleave', function(){
                var address_id = $(this).attr('alt');
                $("article[data-id='"+address_id+"']").css('background-color', '#083346');
                $("article[data-id='"+address_id+"']").css('background-image', 'none');
                if (viewStatus === "all"){
                    $("img[alt='"+address_id+"']").attr('src', currentIcon);
                }
            })

            var inputVal;



            // Ajax => Info Boutique au clic sur le pointeur de la carte

            $('.leaflet-marker-icon').on('click', function(){
                inputVal = document.getElementById('searchBar').value;


                var currentDataID = $(this).attr('alt');
                var splitCurrentDataID = currentDataID.split('_');
                var address_id = splitCurrentDataID[1];
                // On supprime toutes les icones qui ne sont pas celle de la boutique selectionnée:
                $('.leaflet-marker-pane img[alt != "'+currentDataID+'"]').css('display','none');

                // La vue passe en singleView par ajax, gestion du visuel
                // console.log(viewStatus);
                if (viewStatus === "all"){
                    // Requete AJAX :
                    $.ajax({
                        type: 'post',
                        url: '{{ path("singleView") }}',
                        data: 'address_id=' + address_id + '&result_content=' +result_content,
                        datatype: 'html',
                        success: function(result){
                            $("#resultAjax").html(result);
                        },
                        error: function(error){
                            console.log(error)
                        },
                    });
                    viewStatus ="single";
                }
            })

            // Ajax => Info Boutique au clic sur la div du magasin
            $('#addressList').on('click', '.oneShop', function(){
                inputVal = document.getElementById('searchBar').value;

                var pointRaw = $(this).attr('data-coordinates');
                var point = pointRaw.split( /\s*,\s*/ );

                console.log('DataCoord=', point);
                console.log(typeof point);

                map.setView(point);

                // La vue passe en singleView par ajax, gestion du visuel

                var currentDataID = $(this).attr('data-id');
                var splitCurrentDataID = currentDataID.split('_');
                var address_id = splitCurrentDataID[1];
                // On supprime toutes les icones qui ne sont pas celle de la boutique selectionnée:
                $('.leaflet-marker-pane img[alt != "'+currentDataID+'"]').css('display','none');
                $('.leaflet-shadow-pane').css('display','none');

                if(viewStatus === "all"){
                    //Requete AJAX
                    $.ajax({
                        type: 'post',
                        url: '{{ path("singleView") }}',
                        data: 'address_id=' + address_id,
                        datatype: 'html',
                        success: function(result){
                            $("#resultAjax").html(result);

                        },
                        error: function(error){
                            console.log(error)
                        },
                    });
                    viewStatus = "single";
                }
            })

            // Ajax => Retourner sur l'affichage des résultats
            $('#addressList').on('click', '#result_content', function(){

                // La vue revient sur les resultats par ajax, gestion du visuel
                viewStatus = "all";

                $.ajax({
                    type: 'post',
                    url: '{{ path("returnToResult") }}',
                    data: 'result_content=' + result_content,
                    datatype: 'html',
                    success: function(result){
                        $("#resultAjax").html(result);
                        $("#searchBar").val(inputVal);
                        search();
                        map.setView(bordeaux, 14);
                    },
                    error: function(error){
                        console.log(error)
                    },
                });
                // On remet l'icone qu'avait le magasin sur la carte avant que l'on clic dessus
                // Depuis le data ID genéré depuis ajax/returnToResult.html.twig
                var dataID = $(this).attr('data-id');
                var cat = dataID.slice(0,3);
                var markerAddress = $("img[alt='"+dataID+"']");
                if(cat ==='Sho'){
                    markerAddress.attr('src', '{{ asset("img/marker-blue.png") }}');
                }
                if(cat ==='Soi'){
                    markerAddress.attr('src', '{{ asset("img/marker-pink.png") }}');
                }
                if(cat ==='Res'){
                    markerAddress.attr('src', '{{ asset("img/marker-green.png") }}');
                }
                if(cat ==='Div'){
                    markerAddress.attr('src', '{{ asset("img/marker-yellow.png") }}');
                }
                // On reaffiche tous les marker vu qu'on reviens a une vue ALL
                $('.leaflet-marker-pane img').css('display','block');

            });


        });
    </script>
{% endblock %}
