{% extends 'base.html.twig' %}

{% block title %}View All Shops{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3" id="addressList">
            {% for item in address %}
                <a href="#" class="linkToSingle">
                <article class="oneShop" data-id="{{ item.id }}">
                    <h2 class="text-center">{{ item.name }}<br></h2>
                    <p>
                    <strong>Sous-Categorie :</strong> {{ item.subCategory.label }}<br>
                    <strong>Categorie :</strong> {{ item.subCategory.category.label }}<br>
                    <strong>Réduction :</strong> {{ item.discount }}<br>
                    </p>
                </article>
                </a>
                <hr>
            {% endfor %}
            </div>
            <div class="col-12 col-md-9">
                <div id="map"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('js/map.js') }}"></script>#}
    <script>
        $(function(){
            //Initialisation de la carte
            //Ne pas toucher sous peine de torture


            let bordeaux = [44.8397534, -0.5739364];
            let osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            let osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
            let osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});
            //restriction géographique
            var corner1 = L.latLng(44.7426, -0.7526);
            var corner2 = L.latLng(44.9801, -0.2935);
            var bounds = L.latLngBounds(corner1, corner2);



            let map = L.map('map').setView(bordeaux, 14);
            map.setMaxBounds(bounds);
            map.options.maxZoom = 18;
            map.options.minZoom = 13;





            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiaWJ1c2hpZ2luIiwiYSI6ImNqcXJ1d3lwdjBnZXo0MmxqZWRyMGIzdmEifQ.MAtmFHO16MD5osbZotlXYw'
            }).addTo(map);




            //Création des icones
            var markerPosition = L.icon({
                iconUrl: '{{ asset("img/markerPosition.png") }}',
                iconSize:     [20, 20], // size of the icon
            });
            var markerCat1 = L.icon({
                iconUrl: '{{ asset("img/") }}',
                iconSize:     [20, 20], // size of the icon
            });
            var markerCat2 = L.icon({
                iconUrl: '{{ asset("img/") }}',
                iconSize:     [20, 20], // size of the icon
            });
            var markerCat3 = L.icon({
                iconUrl: '{{ asset("img/") }}',
                iconSize:     [20, 20], // size of the icon
            });
            var markerCat4 = L.icon({
                iconUrl: '{{ asset("img/") }}',
                iconSize:     [20, 20], // size of the icon
            });
            var markerPoint = L.icon({
                iconUrl: '{{ asset("img/") }}',
                iconSize:     [20, 20], // size of the icon
            });

            //Géolocalisation

            map.locate({setView: true, maxZoom: 16});
            function onLocationFound(e) {
                L.marker(e.latlng, {icon: markerPosition}).addTo(map);
            }
            map.on('locationfound', onLocationFound);
            function onLocationError(e) {
                // alert(e.message);
            }
            map.on('locationerror', onLocationError);


            //A partir d'ici, c'est custom selon la view
            //La menace de torture s'arrête ici



            {% for key, latitude in locations_lat %}
                let latitude{{ key }} = {{ latitude }};
            {% endfor %}

            {% for key, longitude in locations_long %}
                    let longitude{{ key }} = {{ longitude }};
            {% endfor %}

            {% for key, address_id in address_ids %}
                let item{{ key }} = {{ address_id }};
            {% endfor %}



                {% set nbAddress = nbAddress-1 %}

            {% for i in 0..nbAddress %}
                var marker{{ i }} = L.marker([latitude{{ i }}, longitude{{ i }}], {alt: item{{ i }}}).addTo(map);
            {% endfor %}

            // Gestion du CSS dynamique pour le lien vers les pages boutique

            // Stockage des résultat de recherche dans une variable pour pouvoir revenir en ajax sur la page des
            // résultats

            //TODO QUAND UNE RECHERCHE OU APPLICATION DE FILTRE PAR L UTILISATEUR SERA EFFECTUE,
            // IL FAUDRA INCLURE LA MISE A JOUR DE LA VARIABLE result-content

            var result_content = $('#addressList').html();

            $('.oneShop').on('mouseenter', function(){
                $(this).css('background-color', '#a7abb2')});
                $
            $('.oneShop').on('mouseleave', function(){
                $(this).css('background-color', '#d7dae0')});


                $('.leaflet-marker-icon').on('click', function(){
                // Requete AJAX :
                var address_id = $(this).attr('alt');
                $.ajax({
                    type: 'post',
                    url: '{{ path("singleView") }}',
                    data: 'address_id=' + address_id + '&result_content=' +result_content,
                    datatype: 'html',
                    success: function(result){
                        $("#addressList").html(result);
                    },
                    error: function(error){
                        console.log(error)
                    },
                });
            })

            $('#addressList').on('click', '.oneShop', function(){
                var address_id = $(this).attr('data-id');
                $.ajax({
                    type: 'post',
                    url: '{{ path("singleView") }}',
                    data: 'address_id=' + address_id,
                    datatype: 'html',
                    success: function(result){
                        $("#addressList").html(result);
                    },
                    error: function(error){
                        console.log(error)
                    },
                });

            })

            $('#addressList').on('click', '#result_content', function(){
                $.ajax({
                    type: 'post',
                    url: '{{ path("returnToResult") }}',
                    data: 'result_content=' + result_content,
                    datatype: 'html',
                    success: function(result){
                        $("#addressList").html(result);
                    },
                    error: function(error){
                        console.log(error)
                    },
                });
            })

            // console.log(current_id);
            {#path = "{{ path('viewSingle', {id : 0}) }}";#}
            {#path = path.replace(0, current_id);#}
            {#document.location.href=path;#}
        });





    </script>
{% endblock %}
