{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block body %}
    <div id="test">test</div>
    <div id="map"></div>

    <p>

Latitude : {{ lat }} ,Longitude: {{ long }}


    </p>


    {% for item in address %}
        <article>

            {#{{ dump(item) }}#}
            <strong>Nom :</strong> {{ item.name }}<br>
            <strong>Sous-Categorie :</strong> {{ item.subCategory.label }}<br>
            <strong>Categorie :</strong> {{ item.subCategory.category.label }}<br>
            <strong>Adresse :</strong> {{ item.location }}<br>
            <strong>Coordoonées géographiques :</strong> {{ item.coordinates }}<br>
            <strong>Tel :</strong> {{ item.tel }}<br>
            <strong>Site internet :</strong> {{ item.website }}<br>
            <strong>Réduction :</strong> {{ item.discount }}<br>
            <strong>Statut :</strong> {{ item.status }}<br>

        </article>

    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){
            let osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});
            let map = L.map('map').setView([44.845423, -0.570373], 11).addLayer(osm);


            var lat = '{{lat}}';
            var long = '{{long}}';


            var marker = L.marker([lat, long]).addTo(map);
        });
    </script>
{% endblock %}
